<% provide(:title, "Customers") %>
<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path, class: "btn btn-primary"%>
<%= @customers.count %> customers
<table class="table">
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.userid %></td>
    <td><%= customer.full_name %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>
