<% provide(:title, "Customers") %>
<h1>Customers</h1>


<%= link_to 'New Customer', new_customer_path, class: "btn btn-primary"%>
<%= @customers.count %> customers
<table class="table">
  <tr>
    <th><%= sortable "userid", "User ID" %></th>
    <th><%= sortable "lastname", "Name" %></th>
    <th>Email</th>
		<th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.userid %></td>
    <td><%= link_to customer.full_name, customer %></td>
    <td><%= customer.email %></td>
		<td><%= link_to 'New Request', new_request_path(:custid => customer.id), class: 'btn btn-small' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>
