<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		
    <%= f.label :customer_id, "Customer Number" %>
    <%= f.text_field :customer_id, class: "span1" %> 
		
		<% if @customer.present? %>
			<%= @customer.full_name %>
		<% else %>
		<% end %>
		
    <%= f.label :oclcnum, "OCLC Number" %>
    <%= f.text_field :oclcnum, class: "span2" %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "span4" %>

    <%= f.label :author %>
    <%= f.text_field :author, class: "span4" %>

    <%= f.label :pub, "Publication" %>
    <%= f.text_field :pub, class: "span4" %>

		<%= f.label :locationplaced, "Location Placed" %>
    <%= collection_select(:request, :locationplaced, @locations, :code, :code) %>

    <%= f.label :location_id, "Pickup Location" %>
    <%= collection_select(:request, :location_id, @locations, :id, :code) %>

    <%= f.label :duedate, "Due Date" %>
    <%= f.text_field :duedate, class: "span2" %>

    <%= f.label :bclitem, "BCL Item ID" %>
    <%= f.text_field :bclitem, class: "span2" %>

    <%= f.label :dateplaced, "Date Placed" %>
    <%= f.date_select :dateplaced, class: "span2" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
