<table class="table">
  <tr>
		<% if signed_in? %>
			<th><%= sortable "customers.lastname", "Name" %></th>
		<% end %>
		<th><%= sortable "title", "Title" %></th>
    <th><%= sortable "locationplaced", "Location Placed" %></th> 
		<th><%= sortable "current_status", "Current Status" %></th>
    <th><%= sortable "duedate", "Due Date" %></th>
    <th></th>
		<th></th>
  </tr>

<% @requests.each do |request| %>
	<tr>
		<% if signed_in? %>
			<td><%= link_to request.customer.full_name, customer_path(request.customer_id) %></td>
		<% end %>
		<td><%= link_to request.title, request_path(request) %></td>
		<td><%= request.locationplaced %></td>
		<td><%= request.status.name %></td>
		<% if request.duedate? %>
			<% if request.overdue? and request.current_status < 4 %>
				<td><span class="overdue"><%= request.duedate.strftime("%D") %></span></td>
			<% else %>
				<td><%= request.duedate.strftime("%D") %></td>
			<% end %>
		<% else %>
			<td></td>
		<% end %>
		<% if signed_in? %>
			<td><%= link_to 'Receive', receive_request_path(request), method: "put", class: "btn btn-small" %></td>
			<td><%= link_to 'Return', request_activities_path(request, :new_status_id => 4), method: "post", class: "btn btn-small" %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
	</tr>
<% end %>


</table>
<%= will_paginate %>
