<h1>New request</h1>

<%= form_tag customers_path, method: 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search], :autofocus => true, class: "span4" %>
		<%= submit_tag "Customer Search", name: nil %>
	</p>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
