<% provide(:title, "Request Details") %>
<h1>Request Details</h1>
<p id="notice"><%= notice %></p>
<div class="row">	
	<aside>
	</aside>
	<div class="span8">
		<% if current_user.present? %>
			<p><b>Customer:</b> <%= @request.customer.full_name %>, <%= link_to @request.customer.userid, customer_path(@request.customer_id) %></p>
		<% end %>
		<p><b>OCLC Number:</b> <%= @request.oclcnum %></p>
		<p><b>Title:</b> <%= @request.title %></p>
		<p><b>Author:</b> <%= @request.author %></p>
		<p><b>Publication:</b> <%= @request.pub %></p>
		<p><b>Location Placed:</b> <%= @request.locationplaced %></p>
		<p><b>Pickup Location:</b> <%= @request.location.code %></p>
		<p><b>Due Date:</b> <%= @request.duedate %></p>
		<p><b>BCL Item ID:</b> <%= @request.bclitem %></p>

		<div class="span8 offset2">
		<% if @request.activities.any? %>
			<h3>Status Updates</h3>
			<table class="table activities">
				<%= render @activities %>
			</table>
		<% end %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Receive', receive_request_path(@request), method: "put" %> |
<%= link_to	'Return', request_activities_path(@request, :new_status_id => 4), method: "post" %> | 
<%= link_to 'Cancel', request_activities_path(@request, :new_status_id => 6), method: "post" %> |
<% if current_user.present? && current_user.admin? %>
	<%= link_to 'Close', request_activities_path(@request, :new_status_id => 5), method: "post" %> |
	<%= link_to 'Remove', @request, :confirm => "Are you sure?", method: :delete %> |
<% end %>
<% if current_user.present? %>
	<%= link_to 'Back', requests_path %>
<% else %>
	<%= link_to 'Back', all_requests_path %>
<% end %>
