<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @request.customer_id %>
</p>

<p>
  <b>Oclcnum:</b>
  <%= @request.oclcnum %>
</p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Author:</b>
  <%= @request.author %>
</p>

<p>
  <b>Pub:</b>
  <%= @request.pub %>
</p>

<p>
  <b>Locationplaced:</b>
  <%= @request.locationplaced %>
</p>

<p>
  <b>Location:</b>
  <%= @request.location_id %>
</p>

<p>
  <b>Duedate:</b>
  <%= @request.duedate %>
</p>

<p>
  <b>Bclitem:</b>
  <%= @request.bclitem %>
</p>

<p>
  <b>Dateplaced:</b>
  <%= @request.dateplaced %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
